@use "../../styles/variables" as *;
@use "../../styles/typography";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.teamLogo {
  position: absolute;
  max-width: 2rem;
  max-height: 2rem;
  margin: 0.2rem;
}

.details {
  color: $primaryColor;
  background-color: $secondaryColor;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.imageWrapper {
  display: flex;
}

.values {
  display: flex;
  justify-content: space-around;
}

.image {
  min-width: 8rem;
  width: 15vw;
}
