@use "mixins";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  background: url("/background.png") no-repeat scroll center 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}
