@use "variables";

.headerPrimary {
  color: variables.$textPrimaryColor;
  font-size: 3rem;
  margin: 0.5rem 0;
}

.headerSecondary {
  color: variables.$textSecondaryColor;
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

.center {
  text-align: center;
}
