@use "variables" as *;

%header {
  text-align: center;
  padding: 0.5rem;
}

.headerPrimary {
  @extend %header;
  color: $secondaryColor;
}

.headerPrimaryWithBackground {
  @extend %header;
  color: $primaryColor;
  background-color: $secondaryColor;
}

.headerSecondary {
  @extend %header;
  color: $secondaryColor;
}
